
<div class="easyui-layout" fit="true">
    <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
        <table cellpadding=3>
            <tr>
                <td>原密码：</td>
                <td><input id="pass" type="password" class="easyui-textbox" /></td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td><input id="newpass" type="password" class="easyui-textbox" /></td>
            </tr>
        </table>
    </div>
    <div region="south" border="false" style="text-align: right;margin-top:5px;">
        <a id="queren" class="easyui-linkbutton" icon="fa fa-check" href="javascript:void(0)" onclick="updatePass()" style="width:70px;height:30px"  > 确定</a>
        <a class="easyui-linkbutton" icon="fa fa-remove" href="javascript:void(0)" onclick="$('#chgPass').window('close')" style="width:70px;height:30px" id="quxiao">取消</a>
    </div>
</div>

<script language="javascript">
    //修改密码
    function updatePass() {
        var pass = $('#pass').textbox('getValue').trim();
        var newpass = $('#newpass').textbox('getValue').trim();
        var passtest = /^\w{6,15}$/
        if (pass == '') {
            $.messager.show({
                title:'<font color="red">警告</font>',
                msg:'<font color="black">请输入原密码</font>'
            });
            return false;
        }
        if (newpass == '') {
            $.messager.show({
                title:'<font color="red">警告</font>',
                msg:'<font color="black">请输入新密码</font>'
            });
            return false;
        }
        if (!passtest.test(newpass)) {
            $.messager.show({
                title:'<font color="red">警告</font>',
                msg:'<font color="black">新密码必须由6-15个非空字符组成</font>'
            });
            return false;
        }

        if (pass == newpass) {
            $.messager.show({
                title:'<font color="red">警告</font>',
                msg:'<font color="black">新密码不能与原密码一样</font>'
            });
            return false;
        }

        var url='/admin/index/savePassword';
        $.post(url,{pass:pass,newpass:newpass},function(result) {
                if(result=="ok"){
                    $('#chgPass').window('close', true);
                    $.messager.show({
                        title:'<font color="red">系统提示</font>',
                        msg:'<font color="black">恭喜您，密码修改成功!</font>'
                    });
                }else{
                    $.messager.show({
                        title:'<font color="red">系统提示</font>',
                        msg:'<font color="black">'+result+'</font>'
                    });
                }
            }
        )
    }
</script>
